@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

body{
	background: #141E30;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243B55, #141E30);
	background: linear-gradient(to right, #243B55, #141E30);
    color: white;
	font-family: 'Gowun Dodum', sans-serif;
	padding: 3%;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin: 40px 0;
	color: white;
}

.headerLinks {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.headerLinks p a {
	text-decoration: none;
	font-size: 20px;
	margin: 5px 0;
	font-weight: 300;
	color: #bdc3c7;
}

.headerLinks p a:hover {
	color: white;
}

form {
	width: 64%;
	margin: 30px auto 20px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

form input {
	width: 50%;
	background: none;
	border: none;
	border-bottom: 0.5px solid white;
	outline: none;
	font-weight: 300;
	font-size: 110%;
	padding: 20px;
	color: white;
	padding-left: 40px;
}

form button {
	border: 1px solid #75c9c8;
	border-radius: 50%;
	padding: 6px 8px;
	color: white;
	background: transparent;
	color: #75c9c8;
	opacity: 0.8;
	margin: 0 10px;
}

form button:hover {
	opacity: 1;
}

ul {
	width: 64%;
	margin: 50px auto;
	list-style: none;
	padding: 0;
}

li {
    box-sizing: border-box;
	width: 100%;
	height: 50px;
	line-height: 60px;
	font-size: 18px;
	padding: 0 20px;
	transition: all .3s linear;
	color: white;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

li:hover .deleteTodo{
	opacity: 1;
}

li:nth-of-type(2n) { 
 background: rgba(0,0,0,0.1);
}

li:hover{
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	transform: scale(1.02);
}

li .deleteTodo {
	color: #c0392b;
	transition: all 0.3s;
	opacity: 0;
	border: none;
    background: transparent;
}

li .deleteTodo:hover {
	color: #e74c3c;
}

